<h1>Available Products</h1>

<form method="get">
    <input type="text" name="q" placeholder="Search products..."
           value="{{ query }}">
    <button type="submit">Search</button>
</form>

<hr>

{% for product in products %}
<a href="{% url 'catalog:single-product-detail' product.id %}"
   style="text-decoration:none; color:inherit;">

<div style="border:1px solid #ccc; padding:15px; margin-bottom:15px;">

    <h2>{{ product.name }}</h2>

    {% comment %} {% if product.subcategory %} {% endcomment %}
    {% if product.category %}
        <p><strong>Category:</strong> {{ product.subcategory.name }}</p>
    {% endif %}

    {% with product.images.all|first as primary_image %}
        {% if primary_image %}
            <img src="{{ primary_image.image.url }}"
                 style="max-width:200px;">
        {% endif %}
    {% endwith %}

    <p><strong>Price:</strong> ₹{{ product.price }}</p>

</div>
</a>
{% empty %}
<p>No products found.</p>
{% endfor %}
